
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C9CAD6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3px 20px;
    border-top: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 2cm; 
    height: auto;
    margin-right: 10px; 
}

.logo p {
    margin: 0;
}

.contacto-info {
    display: flex;
    align-items: center;
}

.contacto-info img {
    width: 20px; 
    height: auto;
    margin-right: 10px; 
}

.telf {
    margin-right: 20px; 
}

hr {
    border: 0;
    border-top: 1px solid #777; 
}
a {
    text-decoration-line: none;
    color: rgb(80, 79, 79);
    margin-left: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a:hover{
    text-decoration-line: underline;
}
input{
    height: 35px;
    width: 500px;
    margin-left: 10%;

}
.logo
{
    margin-left: 15%;
    position: relative;
    float: left;
}

.buscador
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #726D6D;
    padding: 14px;
    height: 45px;
    float: right;
    margin-right: 10cm;

}

.ambulancia
{
    margin-right: 1%;
    position: relative;
    float: left;
}


.telefono
{
    margin-right: 1%;
}

.whats 
{
    margin-right: 1%;
}

.contactos
{
    position: relative;
    float: right;
}

#meditek {
    position: relative;
    left: 10em;
}
#Carrito {
    width: 50px;
    height: auto;
    float: inline-end;
}
#Carrito {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hrenlaces {
    margin-top: 10px;
}
#search_query_top {
    height: 3rem ; 
    width: 40rem;
    border-radius: 3rem;
    border: 0px;
    flex: row;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.enlaces {
    flex-direction: row;
}